

  <!-- Form section that contains the
       login and the signup form -->
  <div class="form-section">
    <form action="/login" method="post">
      <!-- login form -->
      <div class="login-box">
          <input type="email" 
                 class="email ele" name="email" 
                 placeholder="youremail@email.com">
          <input type="password"
                 class="password ele"  name="password"
                 placeholder="password">
          <button class="clkbtn">Login</button>
      </div>
</form>
      <!-- signup form -->
      <form action="/register" method="post">
      <div class="signup-box" id="register">
          <input type="text" 
                 class="name ele" name="name"
                 placeholder="Enter your name">
          <input type="email" 
                 class="email ele"  name="email"
                 placeholder="youremail@email.com">
          <input type="password" 
                 class="password ele"  name="password"
                 placeholder="password">
          <input type="password" 
                 class="password ele" name="confirm_password"
                 placeholder="Confirm password">
          <button class="clkbtn">Signup</button>
        </div>
      </form>
  </div>
</div>


<script>
  let signup = document.querySelector(".signup");
let login = document.querySelector(".login");
let slider = document.querySelector(".slider");
let formSection = document.querySelector(".form-section");

signup.addEventListener("click", () => {
    slider.classList.add("moveslider");
    formSection.classList.add("form-section-move");
});

login.addEventListener("click", () => {
    slider.classList.remove("moveslider");
    formSection.classList.remove("form-section-move");
});
</script>